{
  "env": {
    "development": {
      "presets": ["env", "react"],
      "plugins": [
        "transform-flow-strip-types"
      ]
    },
    "production": {
      "presets": ["env", "react"],
      "plugins": [
        "transform-flow-strip-types"
      ]
    },
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        "transform-flow-strip-types"
      ]
    }
  }
}